<div>
  <button (click)="addCorrector()">Nuevo Corrector</button>
</div>
<table>
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Correo electrónico</th>
    <th>Examenes</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let corrector of listaCorrectores">
    <td>{{ corrector.nombre }}</td>
    <td>{{ corrector.email }}</td>
    <td>{{ corrector.examenes }}</td>
    <td>
    <td><button routerLink="/editar/{{corrector.id}}"> Editar</button>
      <button (click)="eliminarCorrector(corrector.id)">Eliminar</button>
    </td>
  </tr>
  </tbody>
</table>
